* {
    box-sizing: border-box;
}

body,
h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}
div{
    margin-top: 26px;
}
p {
    margin: 0;
}

body {
    height: 100vh;
    padding: 35px 143px 95px;
    font-family: 'StratosSkyeng', sans-serif;
    color: #fff;
    background: linear-gradient(130deg, rgba(173, 97, 255, 1) 0%, rgba(134, 119, 255, 1) 45%, rgba(0, 193, 255, 1) 100%);
}
th,
td{
    border: 1px solid rgb(204, 204, 204);    
    padding: 20px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    font-size: 28px;
    text-align: left;
    background: linear-gradient(130deg, rgba(173, 97, 255, 1) 0%, rgba(134, 119, 255, 1) 45%, rgba(0, 193, 255, 1) 100%);
}
td{
    font-size: 24px;
    text-align: left;
}
li{
    font-size: 24px;
}